anndata==0.10.8
scanpy==1.10.2
POT==0.9.4
numpy==1.26.4
scipy==1.14.1
scikit-learn==1.5.1
IPython==8.27.0
pytest==8.3.2
seaborn==0.13.2
matplotlib==3.9.2
pandas==2.2.2
statsmodels==0.14.2
networkx==3.3
sphinx==7.4.7
myst-parser==4.0.0
sphinx-autodoc-typehints==2.2.3
nbsphinx==0.9.5
sphinx-gallery==0.17.1
sphinx-rtd-theme==2.0.0
coverage==7.6.1
coveralls==4.0.1