anndata>=0.7.6
scanpy>=1.7.2
POT
numpy
scipy
scikit-learn>=0.24.0
IPython>=7.18.1
pytest
seaborn
matplotlib
pandas
statsmodels
networkx
sphinx
myst-parser
sphinx-autodoc-typehints
nbsphinx
sphinx-gallery
sphinx-rtd-theme
coverage
coveralls